name: 'Terraform CI'

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  terraform:
    name: 'Terraform Quality Check'
    runs-on: ubuntu-latest

    steps:
    # Checkout the code from the repository
    - name: Checkout
      uses: actions/checkout@v4

    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    # Initialize a working directory containing Terraform configuration files
    - name: Terraform Init
      run: terraform init -backend=false

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt -check

    # Validates the configuration files for syntactical correctness
    - name: Terraform Validate
      run: terraform validate